# **Data Sciences Tools and Ecosystem**

## **In this notebook, Data Science Tools and Ecosystem are summarized.**

### Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL
4. Java
5. Julia

### Some of teh commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-Learn
5. TensorFlow

### Table of Data Science Tools:
| Data Science Tools |
| -------------| 
|Jupyter Notebooks | 
|RStudio|
|Git| 
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python.

##### This is a simple arithmetic expression to multiply then add integers.

In [10]:
(3*4)+5

17

##### This will convert 200 minutes to hours by dividing by 60.

In [11]:
200/60

3.3333333333333335

## **Objectives**

#### After completing this lab, you will be able to:
- Create a Jupyter Notebook
- Create headings and add text in bold
- Create Tables in Markdown
- Create ordered and unordered lists in Markdown
- Create a code cell

## **Author**
Sonia Cabrera